@font-face {
	font-family: manrope-bold; /* Имя шрифта */
   src: url(../fonts/manrope/manrope-bold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: manrope-extrabold; /* Имя шрифта */
   src: url(../fonts/manrope/manrope-extrabold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: manrope-light; /* Имя шрифта */
   src: url(../fonts/manrope/manrope-light.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: manrope-medium; /* Имя шрифта */
   src: url(../fonts/manrope/manrope-medium.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: manrope-regular; /* Имя шрифта */
   src: url(../fonts/manrope/manrope-regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: manrope-semibold; /* Имя шрифта */
   src: url(../fonts/manrope/manrope-semibold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: manrope-thin; /* Имя шрифта */
   src: url(../fonts/manrope/manrope-thin.ttf); /* Путь к файлу со шрифтом */
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0;
  border-radius: 0;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0;
  padding:0;
  position: relative;
}

.card-body-header{
  border-bottom: 1px solid #EAEEF4;
  padding: 30px 30px;
}

.card-body-header .logo-lang{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.admin-lang a{
  font-size: 12px;
  width: 42px;
  height: 42px;
  line-height: 16px;
  color: #00236D;
  font-family: manrope-extrabold;
  border: 2px solid #FFDA2D;
  box-sizing: border-box;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 18px;
}
.admin-lang a:hover{
  background:#FFDA2D;
  text-decoration: none;
}
.admin-lang{
  position: relative;
}
.admin-lang:hover a:first-child{
  background:#FFDA2D;
  display: flex;

}
.admin-lang:hover a:last-child{
  display: flex;
  top: 46px;
  transition: top .5s;
  -webkit-transition:top .5s;
}
.admin-lang a:last-child{
  display: none;
  position: absolute;
  top: 0;
  -webkit-transition:top .5s;
}
.card-body-header .user-sim p i{
  font-size: 20px !important;
  margin-right: 5px;
}
.card-body-header .user-sim p{
  font-size: 16px;
  line-height: 22px;
  font-family: manrope-medium;
  color: #00236D;
  margin-bottom: 0;
}

/* .card-body-form{
  padding: 30px 30px;
} */

.card-body-form .form-label {
  display: block;
  font-family: manrope-regular;
  margin-bottom: 10px;
  font-weight: 100;
  font-size: 14px;
  line-height: 19px;
  color: #202020;
}
.card-body-form .form-label .forgot{
  font-family: manrope-medium;
  font-size: 14px;
  line-height: 19px;
  color: #00236D;
}



.card-body-form .form-control, .dataTables_wrapper .dataTables_length select, .dataTables_wrapper .dataTables_filter input {
  font-family: manrope-regular;
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  font-size: 15px;
  line-height: 21px;
  color: #202020;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #D4E2F5;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 30px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.is-invalid-r{
  font-family: manrope-regular;
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  font-size: 15px;
  line-height: 21px;
  color: #202020;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #F4438A !important;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(244, 90, 152, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.invalid-feedback{
  font-family: manrope-medium;
  font-size: 14px;
  line-height: 19px;
  margin-top: 10px;
  color: #F4438A;
}
.colored-btn{
  display: inline-block;
  padding: 10px 10px 11px 10px;
  font-family: manrope-semiBold;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  background-color: #F4438A;
  border-radius: 5px;
  cursor: pointer;
}
.card-body-form .form-footer .btn-primary, .dataTables_wrapper .dataTables_paginate .paginate_button.current{
  font-size: 16px;
  line-height: 22px;
  font-family: manrope-semibold;
  font-weight: 100 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #43F2ED;
  background: #00236D;
  border-radius: 100px;
  padding: 10px;
  border-color: transparent;
}

.card-body-form .form-footer .reg-object{
  font-family: manrope-medium;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #00236D;
  margin-top: 30px;
}
.card-body-form .form-footer .reg-object:hover{
  text-decoration: none;
}
.card-body-form .form-label .forgot:hover {
  text-decoration: none;
}
.authority-footer a:hover{
  text-decoration: none;
}
.authority-footer{
  font-family: manrope-regular;
  font-size: 12px;
  line-height: 160%;
  text-align: center;

  color: #FFFFFF !important;
}

.authority-footer a{
  color: #43F2ED;
}
.forgot-email{
  font-family: manrope-medium;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #00236D;
}

.forgot-email p{
  margin-bottom: 0;
}

.card-body-form p{
  font-family: manrope-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: #202020;
}

.header-top-logo{
  padding-top:20px;
  padding-bottom:20px;
}

.header-top-logo img{
  margin-right: 31px;
}

.header-top-logo span{
  font-family: manrope-medium;
  font-size: 14px;
  line-height: 19px;
  color: #7483A0;
}

.registration .nav-item .nav-link{
  font-family: manrope-medium;
  font-size: 16px;
  line-height: 22px;
  color: #9AA0AC;
}

.registration .nav-item .nav-link span{
  margin-right: 10px;
}

.registration .nav-item a.active{
  font-family: manrope-medium;
  background: #FFFFFF;
  box-shadow: 10px 10px 20px rgba(0, 35, 109, 0.03);
  color: #00236D;
}

.tab-content{
  width: 100%;
}

.reg-form .card-header {
  padding-bottom: 15px;
  padding-top: 15px;
}
.head-first1{
  margin-bottom: 30px;
}

.reg-form .card-header h3{
  font-family: manrope-medium;
  font-size: 16px;
  line-height: 22px;
  color: #00236D;
}

.card-body-form .input-icon .input-icon-addon{
  color: #00236D;
}

.reg-form .continue-form{
  font-family: manrope-semibold;
  font-size: 16px;
  line-height: 22px;
  display: table;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  padding: 12px 80px;
  color: #43F2ED;
  background: #00236D;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}
.reg-form .continue-form:disabled{
  background: #00236db8;
  color: #ccc;
}
.reg-form .continue-form:hover{
  text-decoration: none;
}
.reg-form .continue-form:focus{
  outline: none;
}

.reg-form .form-group {
  width: 744px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 0;
}

.reg-form .mobile-input{
  display: flex;
}

.reg-form .mobile-input p{
  width: 360px;
  margin-left: 24px;
  margin-top: 24px;
}

.mobile-input .form-control, .dataTables_wrapper .dataTables_length select, .dataTables_wrapper .dataTables_filter input {
  font-family: manrope-regular;
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  font-size: 15px;
  line-height: 21px;
  color: #00236D;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #D4E2F5;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 30px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.reg-form .address-input{
  display: flex;
}

.reg-form .address-input p{
  width: 360px;
  margin-left: 24px;
  margin-top: 24px;
}

.address-input .form-control, .dataTables_wrapper .dataTables_length select, .dataTables_wrapper .dataTables_filter input {
  font-family: manrope-regular;
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  font-size: 15px;
  line-height: 21px;
  color: #00236D;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #D4E2F5;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 30px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.cc-selector{
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.cc-selector input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.hotel {
  background: linear-gradient(180deg, rgba(0, 35, 109, 0) 50%, #00236D 100%), url(../images/hotel.jpg);
}
.hostel {
  background: linear-gradient(180deg, rgba(0, 35, 109, 0) 50%, #00236D 100%), url(../images/hostel.jpg);

}
.house {
  background: linear-gradient(180deg, rgba(0, 35, 109, 0) 50%, #00236D 100%), url(../images/house.jpg);
}
.apartments {
  background: linear-gradient(180deg, rgba(0, 35, 109, 0) 50%, #00236D 100%), url(../images/apartments.jpg);
}

.cc-selector input:active +.drinkcard-cc {
  opacity: .9;
}

.cc-selector input:checked +.hotel {
  background: linear-gradient(180deg, rgba(244, 67, 138, 0) 50%, #F4438A 100%), url(../images/hotel.jpg);
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.cc-selector input:checked +.hotel span{
  font-family: manrope-medium;
  background: white;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 100px;
  padding: 8px 15px;
  color: #00236D;
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.cc-selector input:checked +.hostel {
  background: linear-gradient(180deg, rgba(244, 67, 138, 0) 50%, #F4438A 100%), url(../images/hostel.jpg);
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}
.cc-selector input:checked +.hostel span{
  font-family: manrope-medium;
  background: white;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 100px;
  padding: 8px 15px;
  color: #00236D;
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}
.cc-selector input:checked +.house {
  background: linear-gradient(180deg, rgba(244, 67, 138, 0) 50%, #F4438A 100%), url(../images/house.jpg);
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}
.cc-selector input:checked +.house span{
  font-family: manrope-medium;
  background: white;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 100px;
  padding: 8px 15px;
  color: #00236D;
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}
.cc-selector input:checked +.apartments {
  background: linear-gradient(180deg, rgba(244, 67, 138, 0) 50%, #F4438A 100%), url(../images/apartments.jpg);
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}
.cc-selector input:checked +.apartments span{
  font-family: manrope-medium;
  background: white;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 100px;
  padding: 8px 15px;
  color: #00236D;
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}
.drinkcard-cc {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  width: 264px;
  height: 264px;
  border-radius: 10px;
  position: relative;
  justify-content: center;
}
.drinkcard-cc span{
  font-family: manrope-medium;
  position: absolute;
  bottom: 30px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.apartments:hover {
  background: linear-gradient(180deg, rgba(244, 67, 138, 0) 50%, #F4438A 100%), url(../images/apartments.jpg);
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.apartments:hover span{
  font-family: manrope-medium;
  background: white;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 100px;
  padding: 8px 15px;
  color: #00236D;
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.house:hover {
  background: linear-gradient(180deg, rgba(244, 67, 138, 0) 50%, #F4438A 100%), url(../images/house.jpg);
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.house:hover span{
  font-family: manrope-medium;
  background: white;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 100px;
  padding: 8px 15px;
  color: #00236D;
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.hostel:hover {
  background: linear-gradient(180deg, rgba(244, 67, 138, 0) 50%, #F4438A 100%), url(../images/hostel.jpg);
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.hostel:hover span{
  font-family: manrope-medium;
  background: white;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 100px;
  padding: 8px 15px;
  color: #00236D;
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.hotel:hover {
  background: linear-gradient(180deg, rgba(244, 67, 138, 0) 50%, #F4438A 100%), url(../images/hotel.jpg);
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.hotel:hover span{
  font-family: manrope-medium;
  background: white;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 100px;
  padding: 8px 15px;
  color: #00236D;
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.choose-country .form-control,
.dataTables_wrapper .dataTables_length select,
.dataTables_wrapper .dataTables_filter input{
  display: inline-block;
  width: 100%;
  width: 100%;
  height: 2.375rem;
  padding: 0;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 3px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.double-field{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.double-field_item{
  width: 48%;
}

.reg-checkboxes{
  margin-top: 30px;
  font-family: manrope-medium;
  font-size: 15px;
  line-height: 21px;
  color: #202020;
}

.reg-checkboxes label{
  margin-right: 30px;

}
.isNotValidInput,
.isEmptyInput{
  border: 1px solid red !important;
}
.forPhone::-webkit-inner-spin-button,
.forPhone::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.card-header-after{
  padding: 0px 24px  0px 24px;
  border-bottom: 1px solid #EAEEF4;
}
.card-header-after p{
  font-family: manrope-regular;
  font-size: 14px;
  line-height: 19px;
  color: #202020;
  margin-bottom: 40px;
}
.card-header-after h6{
  font-family: manrope-regular;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #00236D;
}
.card-header-after h6 span{
  float: right;
}
.accordion .card .card-header h2 button{
  font-family: manrope-regular;
  font-size: 16px;
  line-height: 22px;
  color: #00236D;
  text-decoration: none;
  padding-left: 0px;
}
.accordion .card .card-header h2 button:hover{
  text-decoration: none;
}
.accordion .card .card-header h2 button.collapsed{
  color: #202020;

}
.accordion .card .card-header h2 button .fe.fe-plus:before{
  content: "\e994";
}
.accordion .card .card-header h2 button.collapsed .fe.fe-plus:before{
  content: "\e9af";
}
.accordion  .card{
  border-bottom: 1px solid #EAEEF4 !important;
  margin-bottom: 0;
}
.accordion .card .card-header h2 button span{
  height: 20px;
  width: 20px;
  border: 1px solid #00236D;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #00236D;
  font-size: 12px;
  line-height: 0;
  vertical-align: 0px;
  margin-right: 12px;
}
.itemServices{
  border-bottom: 1px solid #F0F5FC;
  padding: 20px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .2s ease-in;
}
.itemServices:hover{
  background: #FFFFFF;
  box-shadow: 5px 5px 20px rgba(0, 35, 109, 0.05);
}
.itemServices label{
  margin-bottom: 0;
  font-family: manrope-regular;
  font-size: 15px;
  line-height: 21px;
  color: #202020;
}
.paidSeparatelyInputLabel{
  background-color: #e9ecef;
  width: 36px;
  height: 20px;
  display: block;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
}
.paidSeparatelyInputLabel::before{
  content: '';
  height: 16px;
  width: 16px;
  background-color: #fff;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: .2s ease-in;
}
.paidSeparatelyInput input{
  opacity: 0;
}
.paidSeparatelyInput input:checked + .paidSeparatelyInputLabel::before{
  left: 50%;
}
.deletePhoto{
    cursor: pointer;
}
.deletePhoto i{
    z-index: -1;
}
.jFiler-items-list.jFiler-items-grid{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
button[type="submit"]{
    background: inherit;
    border: 0;
}
.gallryUploadBlock_item{
  width: calc(100% / 5 - 28px);
  height: 110px;
  margin-right: 28px;
  position: relative;
  margin-bottom: 28px;
}
.gallryUploadBlock_item .jFiler-item-thumb-image{
  width: 100%;
  height: 100%;
  display: block;
}
.gallryUploadBlock_item .jFiler-item-thumb-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.gallryUploadBlock_item:nth-child(5n){
  margin-right: 0;
}
.gallryUploadBlock_item .removeItem{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(236.31deg, rgba(244, 67, 138, 0.75) 0%, rgba(0, 35, 109, 0.75) 100%), url(583_15354471651AlM_1024x768);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
}
.gallryUploadBlock_item .removeItem:hover{
  opacity: 1;
}
.gallryUploadBlock_item .removeItem span{
  color: #fff;
  height: 33px;
  width: 33px;
  border-radius: 50%;
  border: 1px solid #fff;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnAddImageToGallery{
  height: 50px;
  width: 50px;
  background: #fff;
  color: #9AA0AC;
  border: 1px solid #9AA0AC;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
}
.btnAddImageToGallery i{
  color: #9AA0AC;
}
.cloneGalleryAddElement,
.galleryAddElement{
  margin-bottom: 30px;
}
.j_title{
  font-family: manrope-regular;
  font-size: 24px;
  line-height: 33px;
  color: #00236D;
  font-weight: normal;
  margin-bottom: 50px;
}
.j_block{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  margin: 30px 0px;
}
.j_block p{
  margin-bottom: 0px;
  margin-top: 30px;
}
.j_form_group{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.j_input_group{
  width: 48%;
}
.j_usd_input{
  margin-bottom: 30px;
}
.j_usd_input .input-group{
  flex-wrap: nowrap;
}
.j_usd_input .input-group .form-control{
  margin-bottom: 0;
}
.j_sub_title{
  padding: 0 30px 30px 30px;
}
.j_usd_input .input-group .form-control:disabled{
  background: #F5F7FB;
}
.j_input_group{
  margin-bottom: 30px;
}
.j_input_group .form-control{
  margin-bottom: 0;
}
#badsBlock .j_form_group{
  width: 940px;
  justify-content: flex-start;
}
#badsBlock .j_form_group .j_input_group{
  width: 357px;
  margin-right: 30px;
}
.j_btn_group{
  display: flex;
  justify-content: center;
  align-items: center;
}
.j_btn_group .continue-form{
  margin-right: 30px;
  margin-left: 0px;
}
.btn_saveOrFinish{
  font-size: 16px;
  line-height: 22px;
  color: #00236D;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: button;
}
body {
  font-family: manrope-regular;
}
ul,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
p,
label,
a,
ul {
  padding: 0;
  margin: 0;
}
a:hover {
  text-decoration: none;
}
input:disabled {
  background: #F5F7FB;
}
.top-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.top-line .item {
  width: calc(100% / 6);
  height: 2px;
}
.top-line .item.blue {
  background-color: #43F4EE;
}
.top-line .item.red {
  background-color: #F4438A;
}
.top-line .item.yellow {
  background-color: #FFDA2D;
}
input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
          outline: none;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-270 {
  margin-bottom: 270px;
}
.ml-40 {
  margin-left: 40px;
}
.blue-title {
  font-family: manrope-medium;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 24px;
  line-height: 33px;
  color: #00236D;
}
.input-group > .input-group-prepend:not(:first-child) > .input-group-text {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: manrope-Bold;
  font-size: 12px;
  line-height: 16px;
  color: #00236D;
}
.usd-input {
  width: auto!important;
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
  padding: 20px 0.75rem !important;
}
span.custom-control-label {
  font-size: 15px;
  line-height: 21px;
  font-family: manrope-medium;
  color: #202020;
}
.custom-control-label:before {
  border: 1px solid #D4E2F5;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2343F4EE' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e") !important;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2343F4EE'/%3e%3c/svg%3e");
}
.custom-control-input:checked ~ .custom-control-label::before,
.custom-switch-input:checked ~ .custom-switch-indicator {
  border-color: #00236D;
  background-color: #00236D;
}
svg.trash {
  color: #9AA0AC;
  cursor: pointer;
}
.radio-switch {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 30px;
  cursor: pointer;
  border: 1px solid #D4E2F5;
  border-radius: 5px;
  background-color: #F5F7FB;
}
.radio-switch .item input {
  width: 0;
  height: 0;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.radio-switch .item label {
  font-family: manrope-semiBold;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 100%;
  padding: 10px 10px 11px 10px;
  font-size: 14px;
  line-height: 19px;
  color: #495A7D;
  background-color: #F5F7FB;
  -webkit-transform: translate(-2px, 0);
          transform: translate(-2px, 0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.radio-switch .item input:checked + label {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 35, 109, 0.05);
          box-shadow: 0px 4px 4px rgba(0, 35, 109, 0.05);
  border-radius: 5px;
  color: #00236D;
}
.radio-switch .item:last-child label {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.custom-switch {
  padding-left: 0;
}
.add-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 100%;
  background-color: #F4438A;
  border-radius: 5px;
  font-family: manrope-medium;
  font-size: 15px;
  color: #FFFFFF;
  cursor: pointer;
}
.add-button span {
  margin-left: 5px;
}
.add-button svg {
  margin-right: 10px;
}
.languages {
  position: absolute;
  top: 20px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.languages:hover .item:last-child {
  width: 42px;
  height: 42px;
  overflow: visible;
  border: 2px solid #FFDA2D;
  opacity: 1;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.languages .item {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid #FFDA2D;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
  font-family: manrope-Bold;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #00236D;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.languages .item:last-child {
  width: 0;
  height: 0;
  overflow: hidden;
  border: none;
  opacity: 0;
  margin-left: auto;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.languages .item:hover {
  color: #FFDA2D;
}
.help {
  display: inline-block;
  background: #E1EBFF;
  border-radius: 100px;
  padding: 6px 10px 7px 10px;
  font-family: manrope-medium;
  font-size: 14px;
  line-height: 19px;
  color: #00236D;
  margin-right: 30px;
}
.help:hover {
  color: #00236D;
}
.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.user.open .circle {
  color: #fff;
  background: #f3438b;
}
.user.open .dropdown-block {
  display: block;
}
.user .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50px;
  color: #00514E;
  background: #43F4EE;
  margin-right: 10px;
}
.user .circle svg {
  width: 20px;
}
.user .name {
  font-family: manrope-medium;
  font-size: 15px;
  line-height: 21px;
  color: #00236D;
}
.dropdown-block {
  display: none;
  width: 100%;
  position: absolute;
  top: 48px;
  left: 0;
  background-color: #fff;
  -webkit-box-shadow: 15px 15px 100px rgba(0, 35, 109, 0.15);
          box-shadow: 15px 15px 100px rgba(0, 35, 109, 0.15);
}
.dropdown-block li a {
  padding: 15px 10px 16px 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-family: manrope-medium;
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
  color: #00236D;
  display: block;
}
.dropdown-block li a:hover {
  background-color: #E1EBFF;
}
.dropdown-block li a svg {
  width: 16px;
  margin-right: 10px;
}
section.authorization {
  width: 100%;
  background-image: url(../img/authorization-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 196px;
  padding-bottom: 60px;
}
section.authorization .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
section.authorization .row form {
  width: auto!important;
}
section.authorization .bottom-text {
  font-family: manrope-regular;
  width: 360px;
  font-size: 12px;
  line-height: 160%;
  text-align: center;
  color: #FFFFFF;
}
section.authorization .bottom-text a {
  color: #5ed8ed;
}
section.authorization .bottom-text a:hover {
  text-decoration: underline;
}
.form {
  width: 360px;
  margin-bottom: 100px;
}
.form .top-block {
  padding: 30px;
  position: relative;
  border-bottom: solid 1px #EAEEF4;
}
.form .top-block .form-logo {
  display: inline-block;
  margin-bottom: 60px;
}
.form .top-block .form-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: manrope-medium;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #00236D;
}
.form .top-block .form-title svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.form .content {
  padding: 30px!important;
}
.form .content .message {
  font-size: 14px;
  line-height: 160%;
  color: #202020;
}
.form .button-block {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0!important;
}
.form .button-block button {
  width: 300px!important;
  height: 46px!important;
}
.form .button-block .blue-text {
  margin-top: 30px;
}
.form-input {
  margin-bottom: 30px;
}
.form-input.between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form-input input {
  border: 1px solid #D4E2F5;
  border-radius: 5px;
  font-family: manrope-medium;
  font-size: 15px;
  line-height: 21px;
  color: #202020;
  padding: 9px 10px 10px 10px;
  width: 100%;
}
.form-input input.error {
  border: 1px solid #F4438A;
  -webkit-box-shadow: 0px 4px 4px rgba(244, 90, 152, 0.1);
          box-shadow: 0px 4px 4px rgba(244, 90, 152, 0.1);
}
.form-input span.error-text {
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  line-height: 19px;
  color: #F4438A;
}
.form-input label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #202020;
  margin-bottom: 10px;
}
.form-input a.restore {
  font-size: 14px;
  line-height: 19px;
  color: #00236D;
}
.form-input a.restore:hover {
  text-decoration: underline;
}
header.second .top-block .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header.second .top-block .container .row .right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header.second .bottom-block .container .row a {
  color: #00236D;
}
header.second .bottom-block .container .row a.active {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #F4438A;
}
header.second .bottom-block .container .row .dropdown {
  position: relative;
  z-index: 2;
}
header.second .bottom-block .container .row .dropdown.open a.name .arrow {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
header.second .bottom-block .container .row .dropdown.open .dropdown-block {
  display: block;
}
header.second .bottom-block .container .row .dropdown a.name {
  -webkit-box-shadow: 10px 10px 20px rgba(0, 35, 109, 0.03);
          box-shadow: 10px 10px 20px rgba(0, 35, 109, 0.03);
}
header.second .bottom-block .container .row .dropdown a.name .arrow {
  margin-left: 10px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header.second .bottom-block .container .row .dropdown .dropdown-block {
  top: 80px;
  width: 400px;
}
header.second .bottom-block .container .row .dropdown .dropdown-block a {
  display: block;
  padding: 15px 10px 16px 10px;
}
header .top-block .container .row {
  padding-top: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .top-block .container .row .description {
  font-size: 14px;
  line-height: 19px;
  color: #7483A0;
  margin-left: 30px;
}
header .bottom-block {
  background: #FFFFFF;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 35, 109, 0.03);
          box-shadow: 10px 10px 20px rgba(0, 35, 109, 0.03);
}
header .bottom-block .container .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .bottom-block .container .row a {
  font-family: manrope-medium;
  font-size: 16px;
  line-height: 22px;
  color: #9AA0AC;
  padding: 23px 30px 25px 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .bottom-block .container .row a i {
    width: 20px;
    display: inline-block;
    height: 20px;
    margin-right: 13px;
}
header .bottom-block .container .row a.active {
  color: #00236D;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 35, 109, 0.03);
          box-shadow: 10px 10px 20px rgba(0, 35, 109, 0.03);
}
header .bottom-block .container .row a:last-child {
  -webkit-box-shadow: none;
          box-shadow: none;
}
section {
  padding-top: 30px;
}
section .container .row form {
  width: 100%;
}
section .container .row form .white-block {
  background: #FFFFFF;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 35, 109, 0.05);
          box-shadow: 5px 5px 20px rgba(0, 35, 109, 0.05);
}
section .container .row form .white-block .head {
  padding: 30px 24px;
  border-bottom: solid 1px #EAEEF4;
}
section .container .row form .white-block .head h3 {
  font-family: manrope-medium;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #00236D;
}
section .container .row form .white-block .content {
  background: #FFFFFF;
  padding: 40px 24px;
}
section .container .row form .white-block .content.secondary {
  border-bottom: solid 1px #EAEEF4;
  padding: 30px 24px;
}
section .container .row form .white-block .content .input-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}
section .container .row form .white-block .content .input-block:last-child {
  margin-bottom: 0;
}
section .container .row form .white-block .content .input-block .input {
  width: 65.9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
section .container .row form .white-block .content .input-block .input.half {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section .container .row form .white-block .content .input-block .input.half .selectize-control,
section .container .row form .white-block .content .input-block .input.half .half-block {
  width: calc(100% / 2 - 12px);
}
section .container .row form .white-block .content .input-block .input.half .half-block .selectize-control {
  width: 100%;
}
section .container .row form .white-block .content .input-block .input.half .half-block .trash-icon {
  display: none;
}
section .container .row form .white-block .content .input-block .input label,
section .container .row form .white-block .content .input-block .input p {
  font-family: manrope-medium;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 10px;
  color: #202020;
  width: 100%;
}
section .container .row form .white-block .content .input-block .input label.custom-control-inline {
  width: auto;
  margin-top: 20px;
  margin-bottom: 0;
}
section .container .row form .white-block .content .input-block .input p {
  font-family: manrope-regular;
}
section .container .row form .white-block .content .input-block .input input {
  font-family: manrope-medium;
  width: 100%;
  border: 1px solid #D4E2F5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  font-size: 15px;
  line-height: 21px;
  padding: 10px 10px 9px 10px;
  color: #202020;
}
section .container .row form .white-block .content .input-block .input .selectize-input {
  border: 1px solid #D4E2F5;
  font-family: manrope-medium;
  color: #202020;
  font-size: 15px;
}
section .container .row form .white-block .content .input-block .input .selectize-control.single .selectize-input:after {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 5'%3E%3Cpath fill='%2300236D' d='M0 0L10 0L5 5L0 0'/%3E%3C/svg%3E") center / 8px 10px no-repeat #fff;
}
section .container .row form .white-block .content .input-block .input .phone {
  width: 100%;
  position: relative;
}
section .container .row form .white-block .content .input-block .input .phone .phone-icon {
  position: absolute;
  top: 0;
  left: 11px;
  bottom: 0;
  margin: auto 0;
  width: 17px;
  color: #00236D;
}
section .container .row form .white-block .content .input-block .input .phone input {
  padding-left: 36px;
  color: #00236D;
}
section .container .row form .white-block .content .input-block .text-block {
  width: 31.9%;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section .container .row form .white-block .content .input-block .text-block p {
  font-size: 14px;
  line-height: 19px;
  color: #202020;
}
section .container .row form .white-block .content .object-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
section .container .row form .white-block .content .object-block .item {
  width: calc(100% / 4 - 18px);
  height: 264px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  border-radius: 10px;
}
section .container .row form .white-block .content .object-block .item:hover label {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(244, 67, 138, 0)), to(#F4438A));
  background: linear-gradient(180deg, rgba(244, 67, 138, 0) 50%, #F4438A 100%);
}
section .container .row form .white-block .content .object-block .item:hover label span {
  background-color: #fff;
  color: #00236D;
}
section .container .row form .white-block .content .object-block .item input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
section .container .row form .white-block .content .object-block .item input:checked + label {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(244, 67, 138, 0)), to(#F4438A));
  background: linear-gradient(180deg, rgba(244, 67, 138, 0) 50%, #F4438A 100%);
}
section .container .row form .white-block .content .object-block .item input:checked + label span {
  background-color: #fff;
  color: #00236D;
}
section .container .row form .white-block .content .object-block .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section .container .row form .white-block .content .object-block .item span {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 8px 15px;
  color: #fff;
  font-size: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 100px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
section .container .row form .white-block .content .object-block .item label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 35, 109, 0)), to(#00236D));
  background: linear-gradient(180deg, rgba(0, 35, 109, 0) 50%, #00236D 100%);
  cursor: pointer;
}
section .container .row form .white-block .content p.content-text {
  font-size: 14px;
  line-height: 19px;
  color: #202020;
}
section .container .row form .white-block .accordion-content .head-accordion {
  padding: 24px 30px 24px 15px;
  border-bottom: solid 1px #EAEEF4;
}
section .container .row form .white-block .accordion-content .head-accordion p {
  font-size: 14px;
  line-height: 19px;
  color: #202020;
}
section .container .row form .white-block .accordion-content .head-accordion .bottom-text {
  font-family: manrope-semiBold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #00236D;
}
section .container .row form .white-block .accordion-content .accordion-block .item {
  border-bottom: solid 1px #EAEEF4;
}
section .container .row form .white-block .accordion-content .accordion-block .item.open .item-content {
  display: block;
}
section .container .row form .white-block .accordion-content .accordion-block .item.open .title-block {
  color: #00236D;
}
section .container .row form .white-block .accordion-content .accordion-block .item.open .title-block svg {
  color: #00236D;
  border-color: #00236D !important;
}
section .container .row form .white-block .accordion-content .accordion-block .item.open .title-block svg line:first-child {
  display: none;
}
section .container .row form .white-block .accordion-content .accordion-block .item .title-block {
  padding: 24px 26px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 22px;
  color: #202020;
  font-family: manrope-medium;
}
section .container .row form .white-block .accordion-content .accordion-block .item .title-block svg {
  width: 15px;
  height: 15px;
  margin-right: 12px;
  color: #9AA0AC;
  border: 1.5px solid #9AA0AC;
  border-radius: 50%;
  padding: 4px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
section .container .row form .white-block .accordion-content .accordion-block .item .item-content {
  display: none;
  list-style: none;
}
section .container .row form .white-block .accordion-content .accordion-block .item .item-content li {
  padding: 24px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid 1px #EAEEF4;
}
section .container .row form .white-block .accordion-content .accordion-block .item .item-content li:hover {
  -webkit-box-shadow: 0px 4px 100px rgba(0, 35, 109, 0.08);
          box-shadow: 0px 4px 100px rgba(0, 35, 109, 0.08);
}
section .container .row form .white-block .accordion-content .accordion-block .item .item-content li:last-child {
  border-bottom: none;
}
section .container .row form .white-block .list-block li.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 25px;
  border-bottom: solid 1px #F0F5FC;
}
section .container .row form .white-block .list-block li.item .left-block {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 22px;
  color: #00226C;
  font-family: manrope-medium;
}
section .container .row form .white-block .list-block li.item .left-block svg {
  margin-right: 10px;
}
section .container .row form .white-block .list-block li.item .right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section .container .row form .white-block .list-block li.item .right-block .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
  cursor: pointer;
}
section .container .row form .white-block .list-block li.item .right-block .icon svg {
  color: #9AA0AC;
}
section .container .row form .white-block .list-block li.item .right-block .icon:last-child {
  margin-right: 0;
}
section .container .row form .white-block .list-block .add-list-btn {
  display: inline-block;
  margin: 30px 0 30px 24px;
  padding: 10px 10px 11px 10px;
  font-family: manrope-semiBold;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  background-color: #F4438A;
  border-radius: 5px;
  cursor: pointer;
}
section .container .row form .white-block .list-block .add-list-btn svg {
  margin-right: 7px;
}
section .container .row form .button-block {
  margin: 40px 0 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section .container .row form .button-block .continue-btn {
  width: 264px;
  height: 46px;
  background: #00236D;
  border-radius: 100px;
  font-size: 16px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #43F2ED;
  outline: none;
}
section .container .row form .button-block .blue-text {
  font-size: 16px;
  color: #00236D;
}

@media (max-width: 1279px) {
  section .container .row form .white-block .content .object-block .item {
    height: 210px;
  }
}
@media (max-width: 991px) {
  .white-block.mb-270 {
    margin-bottom: 30px;
  }
  .max-992 {
    width: 100%!important;
  }
  .blue-title {
    font-size: 19px;
    line-height: 28px;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  .half-block.mobile-mb-30 {
    margin-bottom: 30px;
  }
  header .bottom-block .container .row a {
    padding: 23px 20px 25px 0;
  }
  section .container .row form .white-block .content .object-block .item {
    height: 150px;
  }
  section .container .row form .button-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 30px 0;
  }
  section .container .row form .button-block .blue-text.ml-40 {
    margin-top: 30px;
    margin-bottom: 0;
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .top-line .item:nth-child(1),
  .top-line .item:nth-child(2),
  .top-line .item:nth-child(3) {
    background-color: #43F4EE;
  }
  .top-line .item:nth-child(4),
  .top-line .item:nth-child(5),
  .top-line .item:nth-child(6) {
    background-color: #F4438A;
  }
  .top-line .item:nth-child(7),
  .top-line .item:nth-child(8),
  .top-line .item:nth-child(9) {
    background-color: #FFDA2D;
  }
  header .bottom-block .container .row a {
    padding: 23px 54px 25px 54px;
  }
  header .bottom-block .container .row a svg {
    margin-right: 0;
  }
  header .bottom-block .container .row a span {
    display: none;
  }
  section .container .row form .white-block .content .input-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section .container .row form .white-block .content .input-block.with-trash .input.half .half-block {
    margin-bottom: 10px;
  }
  section .container .row form .white-block .content .input-block.with-trash .input.half .half-block .trash-icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 10%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translate(0, 8px);
            transform: translate(0, 8px);
  }
  section .container .row form .white-block .content .input-block.with-trash .input.half .half-block .trash-icon svg {
    width: 20px;
  }
  section .container .row form .white-block .content .input-block.with-trash .input.half .half-block .selectize-control,
  section .container .row form .white-block .content .input-block.with-trash .input.half .half-block input {
    width: 88%;
  }
  section .container .row form .white-block .content .input-block.with-trash .input.half .half-block .selectize-input {
    height: 40px;
  }
  section .container .row form .white-block .content .input-block.with-trash .input.half .half-block input {
    padding: 9px 10px 8px 10px;
  }
  section .container .row form .white-block .content .input-block.with-trash .text-block {
    display: none;
  }
  section .container .row form .white-block .content .input-block.with-trash:last-child .text-block {
    height: 42px;
    display: block;
  }
  section .container .row form .white-block .content .input-block.with-trash .second {
    display: none;
  }
  section .container .row form .white-block .content .input-block.with-trash .add-button {
    width: 120px;
    font-size: 14px;
  }
  section .container .row form .white-block .content .input-block.with-trash .add-button span {
    display: none;
  }
  section .container .row form .white-block .content .input-block .input {
    width: 100%;
  }
  section .container .row form .white-block .content .input-block .text-block {
    width: 100%;
    margin-top: 15px;
  }
  section .container .row form .white-block .content .input-block .text-block.text-block.with-icon {
    display: none;
  }
  section .container .row form .white-block .content .object-block .item {
    width: calc(100% / 2 - 10px);
    height: 236px;
    margin-bottom: 20px;
  }
  section .container .row form .white-block .list-block li.item {
    padding: 30px 20px;
  }
  section .container .row form .white-block .list-block li.item .left-block {
    font-size: 15px;
  }
  section .container .row form .white-block .list-block li.item .right-block .icon {
    margin-right: 15px;
  }
  section .container .row form .white-block .list-block li.item .right-block .icon svg {
    width: 20px;
  }
}
@media (max-width: 575px) {
  .white-block.mb-270 {
    margin-bottom: 0;
  }
  .blue-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    margin: 20px;
    /* or 21px */
    color: #00236D;
  }
  header .top-block .container .row {
    padding: 25px 20px 0 20px;
  }
  header .top-block .container .row a img {
    width: 124px;
  }
  header .top-block .container .row .description {
    font-size: 12px;
  }
  header .bottom-block .container .row a {
    padding: 13px 50px;
  }
  section {
    padding-top: 5px;
  }
  section .container .row form .white-block.mb-30 {
    margin-bottom: 5px;
  }
  section .container .row form .white-block .head {
    padding: 20px 20px;
  }
  section .container .row form .white-block .content {
    padding: 30px 20px!important;
  }
  section .container .row form .white-block .content .input-block .input label.custom-control-inline {
    margin-right: 14px;
  }
  section .container .row form .white-block .content .input-block .text-block {
    height: auto;
  }
  section .container .row form .white-block .content .input-block .text-block p {
    font-size: 12px;
  }
  section .container .row form .white-block .content .object-block .item span {
    bottom: 15px;
    font-size: 15px;
  }
  section .container .row form .white-block .content .object-block .item label {
    border-radius: 7px;
  }
  section .container .row form .white-block .accordion-content .head-accordion .bottom-text {
    padding-top: 30px;
  }
  section .container .row form .white-block .accordion-content .accordion-block .item .title-block {
    padding: 20px 20px;
    font-size: 15px;
  }
  section .container .row form .white-block .accordion-content .accordion-block .item .title-block svg {
    width: 16px;
    height: 16px;
  }
  section .container .row form .white-block .accordion-content .accordion-block .item span.custom-control-label {
    font-size: 13px;
  }
  section .container .row form .white-block .accordion-content .accordion-block .item .item-content li {
    padding: 20px 20px;
  }
  section .container .row form .white-block .accordion-content .accordion-block .item .item-content li:first-child {
    padding-top: 10px;
  }
  section .container .row form .white-block .list-block li.item .left-block {
    font-size: 14px;
  }
  section .container .row form .white-block .list-block li.item .left-block svg {
    width: 20px;
  }
  section .container .row form .white-block .list-block li.item .right-block .icon {
    margin-right: 10px;
  }
  section .container .row form .white-block .list-block li.item .right-block .icon svg {
    width: 18px;
  }
  section .container .row form .button-block {
    margin: 30px 0;
  }
  section .container .row form .button-block .continue-btn {
    width: 320px;
  }

}
