@font-face {
    font-family: 'Manrope3';
    font-style: normal;
    font-weight: 400;
    src: url(./public/backend/fonts/manrope/manrope-regular.ttf);
}
@font-face {
    font-family: 'Manrope3';
    font-weight: 700;
    font-style: normal;
    src: url(./public/backend/fonts/manrope/manrope-bold.ttf);
}
@font-face {
    font-family: 'Manrope3';
    font-style: normal;
    font-weight: 300;
    src: url(./public/backend/fonts/manrope/manrope-light.ttf);
}
@font-face {
    font-family: 'Manrope3';
    font-style: normal;
    font-weight: 500;
    src: url(./public/backend/fonts/manrope/manrope-medium.ttf);
}
@font-face {
    font-family: 'Manrope3';
    font-style: normal;
    font-weight: 600;
    src: url(./public/backend/fonts/manrope/manrope-semibold.ttf);
}
@font-face {
    font-family: 'Manrope3';
    font-style: normal;
    font-weight: 100;
    src: url(./public/backend/fonts/manrope/manrope-thin.ttf);
}
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import 'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css';
@import 'normalize';
@import 'bootstrap-grid.scss';
@import 'modules/global';
