.change{
    background: #F0F5FF;
    padding: 30px 0 60px;
    &__date{
        min-height: 700px;
        background: #ffffff;
        position: relative;
        & .daterangepicker{
            margin-top: 0;
            box-shadow: none;
            top: 0 !important;
        }
    }
    &__top{
        box-shadow: 0 0 50px rgba(0, 35, 109, 0.07);
        color: #202020;
        background: #ffffff;
        position: relative;
        border-bottom: 1px #EAEEF4 solid;
        padding: 30px;
        .left{
            //flex: 4;
            img{
                width: 90px;
                height: 60px;
                object-fit: cover;
            }
            & .titles{
                padding-left: 20px;
                & .name{
                    color: $primary;
                    font-weight: 600;
                    font-size: 15px;
                }
            }
        }
        & .center{
            //flex: 5;
            font-size: 15px;
            & .date{
                font-weight: 600;
            }
        }
        & .right{
            text-align: right;
            & .price{
                font-size: 15px;
                font-weight: 600;
            }
        }
    }
}
