.confirmation{
    background: #F0F5FF;
    &__main{
        min-height: 650px;
        margin: 60px 0 30px;
        background: url("/images/abstract.png") #ffffff center no-repeat;
    }
    & .left{
        padding-left: 100px;
        & .title{
            color: $primary;
            font-weight: 600;
            font-size: 36px;
            line-height: 150%;
            max-width: 460px;
            padding-top: 40px;
        }
    }
    & .right{
        &-empty{
            padding-top: 30px;
        }
        & .title{
            font-weight: bold;
            font-size: 26px;
            line-height: 150%;
            padding-bottom: 30px;
            max-width: 460px;
        }
        & .description{
            font-size: 16px;
            line-height: 160%;
            color: #444444;
            padding-bottom: 30px;
        }
        & .button{
            background: $primary;
            color: #43F2ED;
            border-radius: 100px;
            min-width: 238px;
            height: 46px;
            display: inline-block;
            line-height: 46px;
            margin-bottom: 30px;
        }
        & .print{
            color: $primary;
            font-size: 16px;
            font-weight: 600;
            &-title{
                padding-left: 10px;
            }

        }
    }
}
.w-100{
    width: 100%;
}
.no-max{
    max-width: none !important;
}
.pl-0{
    padding-left: 0 !important;
}
