.details{
    &-top{
        padding: 35px 0;
        border-top: #F0F5FF 10px solid;
        background: #ffffff;
        .name{
            color: $primary;
            font-weight: 600;
            font-size: 20px;
            //width: 100%;
            //max-width: 235px;
        }
        & .box{
            flex: 1;
            .icon{
                color: $primary;
            }
            .inner-text{
                color: #202020;
                font-weight: 600;
                font-size: 16px;
                padding-left: 10px;
            }
        }
        & .button{
            background: $primary;
            color: #43F2ED;
            border-radius: 100px;
            min-width: 180px;
            height: 42px;
            display: inline-block;
            line-height: 42px;
        }
    }
}
