.info{
    padding: 50px 0;
    &-fixed{
        position: fixed;
        z-index: 20;
        display: none;
        opacity: 0;
        top: 0;
        left: 0;
        right: 0;
        background: $white;
    }
    & h2{
        color: $primary;
        font-weight: 800;
        font-size: 46px;
    }
    &__location{
        p{
            padding-left: 10px;
            max-width: 290px;
            font-size: 14px;
            font-weight: 500;
        }
    }
}
.menu{
    position: relative;
    &-fixed{
        display: none;
        opacity: 0;
        position: fixed;
        z-index: 20;
        top: 175px;
        left: 0;
        right: 0;
        background: $white;
    }
    &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        width: 100%;
        background: #E3E9F5;
    }
    & a, &-search{
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        padding-bottom: 10px;
        font-size: 16px;
        font-weight: 500;
        position: relative;
        color: $primary;
        .text{
            padding-left: 10px;
        }
        &::after{
            content: '';
            position: absolute;
            bottom: 0px;
            left: 0;
            opacity: 0;
            right: 0;
            height: 2px;
            width: 100%;
            background: $secondary;
            z-index: 10;
            transition: .2s all ease-out;
        }
        &.active{
            color: $secondary;
        }
        &.active:after{
            opacity: 1;
        }
    }
}

.review{
    padding: 50px 0;
    & .rating{
        color: $primary;
        &-number{
            font-weight: 500;
            font-size: 42px;
            padding-left: 15px;
        }
    }
    & .description{
        padding-top: 20px;
        font-size: 14px;
        max-width: 260px;
    }
    & .slider{
        &-wrapper{
            .slick-list {
                padding: 30px 30px 30px !important;
            }
            .slick-dots li button:before{
                opacity: 1;
                color: $primary;
            }
            .slick-dots li.slick-active button:before{
                color: $secondary;
            }
        }
        &-inner{
            width: 165px;
            height: 165px;
            position: relative;
            background: #FFFFFF;
            box-shadow: 0 0px 25px rgba(0, 0, 0, 0.07);
            border-radius: 8px;
            padding: 0 20px;
            margin-right: 15px;
            margin-left: 15px;
            & .top{
                padding-top: 20px;
                padding-bottom: 40px;
            }
            & .bottom{
                font-weight: 600;
                font-size: 15px;
            }
            & .abstract{
                position: absolute;
                top: 0;
                right: 0;
                pointer-events: none;
            }
        }
    }
}

.image-inner{
    width: 100%;
    &__block{
        flex: 1;
        & img{
            max-width: 100%;
        }
    }
}
.images{
    margin-top: 50px;
    margin-bottom: 70px;
    &-element{
        position: relative;
        cursor: pointer;
        margin-bottom: 10px;
        &:hover:after , &:hover:before{
            opacity: 1;
        }
        &::before{
            content: '';
            display: inline-block;
            position: absolute;
            opacity: 0;
            transition: .2s all ease-out;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(236deg, rgba(244, 67, 138, 0.75) 0%, rgba(0, 35, 109, 0.75) 100%);
        }
        &::after{
            content: '';
            display: inline-block;
            position: absolute;
            opacity: 0;
            transition: .2s all ease-out;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 26px;
            height: 26px;
            background: url("/images/zoom.svg") center no-repeat;
            background-size: 100% 100%;
            cursor: pointer;
        }
    }
    & img{
        display: block;
        height: 110px;
        width: 165px;
        object-fit: cover;
    }
    & .view-all{
        position: relative;
        margin-bottom: 10px;
        &:hover:after , &:hover:before{
            opacity: 1;
        }
        &::before{
            content: '';
            display: inline-block;
            position: absolute;
            transition: .2s all ease-out;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
            background: linear-gradient(0deg, rgba(0, 35, 109, 0.75), rgba(0, 35, 109, 0.75));
        }
        &-text{
            font-size: 16px;
            color: $white;
            display: block;
            position: absolute;
            transition: .2s all ease-out;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            cursor: pointer;
        }
    }
}
.text-center{
    text-align: center;
}
.location{
    & img{
        max-width: 100%;
    }
}
.text-right{
    text-align: right;
}
.main-title{
    font-size: 36px;
    line-height: 49px;
    color: $primary;
    font-weight: 700;
    padding-bottom: 70px;
    padding-top: 100px;
    &-0{
        font-size: 36px;
        line-height: 49px;
        color: $primary;
        font-weight: 700;
    }
}
.add{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 23.44%, rgba(0, 0, 0, 0.5) 100%), url("/images/add-hotel.png") center no-repeat;
    background-size: cover;
    padding: 165px 0;
    color: white;
    & .h2{
        font-weight: 600;
        font-size: 36px;
        line-height: 49px;
    }
    & .p{
        font-style: normal;
        font-weight: 300;
        font-size: 28px;
        line-height: 160%;
    }
    & .button{
        background: white;
        border-radius: 100px;
        display: block;
        color: $primary;
        padding: 12px 60px;
        font-weight: 600;
    }
}

.feedback{
    &-left {
        .name{
        color: $black;
            font-weight: 800;
        font-size: 16px;
        }
        & .country{
            font-size: 20px;
            color: $primary;
            padding-top: 20px;
            padding-bottom: 40px;
        }
        & .number{
            color: $primary;
            font-weight: 500;
            font-size: 45px;
            & .star{
                color: #FFB800;
                font-size: 20px;
            }
            .rating-number{
                margin-left: 15px;
            }
        }
    }
    .comment{
        & .top , & .bottom{
            flex-direction: column;
            align-items: flex-start !important;
        }
        & .icon{
            flex-basis: auto;
            padding: 20px 20px 0;
            //align-items: flex-start !important;
            //justify-content: flex-start !important;
        }
        & .text{
            padding: 20px;
        }
    }
}
.h-100{
    height: 100%;
}
.available {
    min-height: 230px;
    margin-top: 20px;
    margin-bottom: 50px;
    &__room:hover .name-title{
        color: $secondary;
    }
    &__room:hover .name-info svg path{
        stroke: $secondary;
    }
    &__room:hover .box .button{
        background: #F0F5FF;
    }
    &__room{
        margin-top: 50px;
        width: 100%;
        display: flex;
        & .name{
            cursor: pointer;
            padding-left: 30px;
            padding-right: 30px;
            max-width: 330px;
            position: relative;
            z-index: 5;
            background: $white;
            flex:1;
            box-shadow: 0 0 100px rgba(0, 0, 0, 0.07);
            &-title{
                font-size: 20px;
                font-weight: 700;
                color: $primary;
                transition: .1s all ease-out;
            }
            &-info{
                position: absolute;
                top: 20px;
                right: 20px;
                & svg path{
                    transition: .2s all ease-out;
                    stroke: $primary;
                }
            }
        }
        & .box{
            background: $white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 30px;
            box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.07);
            min-width: 180px;
            & .button{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                transition: .2s all ease-out;
            }
            & .top{
                .icon{
                    color: $primary;
                }
                & .naming{
                    color: #202020;
                    font-weight: 600;
                    font-size: 15px;
                }
            }
        }
        .sale{
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 800;
            color: $white;
            font-size: 15px;
            width: 70px;
            height: 60px;
            background: url("/images/sale.svg") center no-repeat;
            background-size: 100% 100%;
            position: absolute;
            top: 0;
            right: 0;
        }
        & .nights{
            position: relative;
            & .counter{
                line-height: 24px;
                color: $primary;
              & .price{
                  font-size: 18px;
                  font-weight: 800;
              }
                & .old-price{
                    text-decoration-line: line-through;
                    font-size: 18px;
                }
            }
        }
        & .photo{
            max-width: 270px;
            img{
                display: block;
                width: 100%;
                height: 180px;
                object-fit: cover;
            }
        }
    }
}
.room{
    background: $secondary;
    height: 78px;
    width: 100%;
    overflow: hidden;
    & .offer{
        height: 100%;
        .active{
            color: $white;
        }
        .active .arrow svg path {
            fill: $white;
        }
        &__left{
            input{
                border: 0;
                background: inherit;
                font-size: 18px;
                font-weight: 700;
                color: $white;
                margin-left: 10px;
                max-width: 225px;
            }
            .arrow{
                transition: .2s all ease-out;
            }
        }
        &__right{
            color: $white;
            height: 100%;
            position: relative;
            &::before{
                content: '';
                display: inline-block;
                width: 1500px;
                height: 100%;
                position: absolute;
                background: $primary;
                left: 0;
                top: 0;
                bottom: 0;
            }
            & .number{
                font-size: 22px;
                font-weight: 700;
                font-style: normal;
                padding-left: 25px;
            }
            & .reserve{
                padding-left: 10px;
                font-size: 14px;
                line-height: 19px;
            }
            & .price{
                font-weight: 700;
                font-size: 22px;
                max-width: 150px;
                width: 100%;
                min-width: 100px;
            }
            & .book{
                & button{
                    display: inline-block;
                    width: 260px;
                    height: 45px;
                    text-align: center;
                    line-height: 45px;
                    font-weight: 600;
                    background: #FFEA2D;
                    color: #00236D;
                    border-radius: 100px;
                }
            }
        }
    }
}
.comment{
    background: #EAF1FF;
    box-shadow: 0px 4px 100px rgba(0, 35, 109, 0.05);
    border-radius: 8px;
    padding: 10px 0;
    margin-bottom: 55px;
    max-width: 850px;
    & .top , & .bottom{
        background: $white;
        border-radius: 8px;
    }
    & .top{
        margin: 0 10px 10px;
    }
    & .bottom{
        margin: 0 10px 0;
    }
    & .photo{
        flex-basis: 100px;
    }
    & .text{
        padding: 40px 0;
        font-size: 15px;
        color: #444444;
        max-width: 685px;
    }
}
.facilities{
    padding-top: 70px;
    padding-bottom: 70px;
    background: #F0F5FF;
    & .required{
        padding-top: 50px;
        display: flex;
        &__item{
            flex: 1;
            max-width: 240px;
            margin-right: 70px;
            & .icon{
                color: $primary;
            }
            & .title{
                padding-top: 20px;
                color: $primary;
                font-weight: 700;
                font-size: 18px;
            }
            & .p{
                padding-top: 20px;
                font-size: 15px;
                line-height: 160%;
                max-width: 220px;
            }
            & .cards{
                img{
                    margin-top: 20px;
                    &:not(:nth-child(3n)){
                    margin-right: 20px;
                    }
                }
            }
        }
    }
    & .checkin{
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        &__box{
            flex: 1;
            background: $white;
            box-shadow: 0px 4px 4px rgba(0, 35, 109, 0.04);
            border-radius: 8px;
            padding: 20px 30px;
            align-items: center;
            display: flex;
            justify-content: space-between;
            &:nth-child(1){
                margin-right: 15px;
            }
            &:nth-child(2){
                margin-left: 15px;
            }
            & .left{
                color: $primary;
                font-weight: 800;
                font-size: 18px;
                & .icon {
                    padding-left: 10px;
                }
            }
            & .right{
                display: flex;
                align-items: center;
                & .to{
                    padding-left: 30px;
                }
                & .from , & .to{
                    display: flex;
                    align-items: center;
                    & span{
                        color: #444444;
                        font-size: 15px;
                    }
                    & b{
                        color: #202020;
                        padding-left: 10px;
                        font-weight: 500;
                        font-size: 28px;
                    }
                }
            }
        }
    }
    & .top{
        padding-bottom: 50px;
    }
    & #additional{
        padding-top: 70px;
    }
    & .included{
        border: 2px solid #43F4EE;
        margin-left: 40px;
    }
    & .separate{
        border: 2px solid #F4438A;
        margin-left: 15px;
    }
    &__info{
        color: $primary;
        padding: 6px 15px;
        display: flex;
        font-size: 13px;
        align-items: center;
        border-radius: 100px;
        cursor: pointer;
        & .icon{
            display: flex;
            padding-right: 10px;
            align-items: center;
        }
    }
    &__box{
        cursor: pointer;
        width: 265px;
        margin-bottom: 30px;
        background: $white;
        box-shadow: 0px 4px 4px rgba(0, 35, 109, 0.04);
        padding: 20px;
        height: 80px;
        border-radius: 8px;
        position: relative;
        & .icon{
            color: $primary;
        }
        &:hover .additional{
            visibility: visible;
            opacity: 1;
        }
        &:hover .arrow{
            visibility: visible;
            opacity: 1;
            transform: rotate(180deg);
        }
        & .additional{
            position: absolute;
            top: 70px;
            width: 100%;
            box-shadow: 0 60px 100px rgba(0, 35, 109, 0.05);
            border-radius: 0 0 5px 5px;
            padding: 0 20px 20px;
            z-index: 20;
            left: 0;
            right: 0;
            transition: .2s all ease-out;
            visibility: hidden;
            background: $white;
            opacity: 0;
            & ul{
                & li{
                    padding-top: 20px;
                    & .icon{
                        padding-right: 10px;
                    }
                }
            }
        }
        & .main{
            & .naming{
                color: $primary;
                font-weight: 600;
                font-size: 18px;
            }
            & .icon{
                margin-right: 10px;
            }
            & .arrow{
                opacity: .5;
                transition: .2s all ease-out;
            }
        }
    }
}
.pay{
    & svg rect{
        stroke: #F4438A;
    }
}
.other{
    padding-bottom: 100px;
    & .more{
        margin: 0 auto;
        padding-top: 30px;
        text-align: center;
        & button{
            background: $primary;
            color: #43F2ED;
            font-weight: 500;
            border-radius: 100px;
            font-size: 16px;
            width: 215px;
            height: 50px;
        }
    }
    &__block{
        & .item{
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 370px;
            width: 555px;
            color: $white;
            background: linear-gradient(180deg, rgba(0, 35, 109, 0) 50%, #00236D 100%), url(/images/hotel-1.png) center;
            background-size: cover;
            margin-bottom: 30px;
            position: relative;
            & .sale{
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 800;
                color: $white;
                font-size: 15px;
                width: 70px;
                height: 60px;
                background: url("/images/sale.svg") center no-repeat;
                background-size: 100% 100%;
                position: absolute;
                top: 0;
                right: 0;
            }
            & .bottom{
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                & .left{
                    & .title{
                        font-size: 26px;
                        line-height: 36px;
                        font-weight: 700;
                        padding-bottom: 15px;
                    }
                    & .location{
                        font-size: 15px;
                        line-height: 21px;
                        & .icon{
                            margin-right: 10px;
                        }
                    }
                }
                & .right{
                    & .stars{
                        padding-bottom: 15px;
                        & .icon{
                            display: inline-flex;
                            align-items: center;
                            justify-content: flex-end;
                            background: #FFDA2D;
                            border-radius: 100px;
                            color: #00236D;
                            & .rating{
                                padding-right: 12px;
                                padding-left: 5px;
                                font-weight: 600;
                            }
                        }
                    }
                    & .price{
                        font-weight: bold;
                        line-height: 21px;
                        font-size: 15px;
                        & .golden{
                            color: #FFDA2D;
                        }
                    }
                }
            }
            & .top{
                display: flex;
                align-items: center;
                & .recommend{
                    color: $primary;
                    display: flex;
                    align-items: center;
                    border-radius: 100px;
                    background: $white;
                    & .text{
                        font-size: 14px;
                        font-weight: 600;
                        padding-right: 12px;
                        padding-left: 5px;
                    }
                }
            }
        }
    }
}
.information{
    width: 100%;
    min-height: 1380px;
    background: $white;
    color: $primary;
    padding: 60px 60px 20px;
    position: relative;
    &__title{
        font-weight: 800;
        font-size: 36px;
        line-height: 50px;
    }
    &__beds{
        & > .title{
            font-weight: 500;
            font-size: 18px;
            margin-top: 60px;
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            & .icon{
                padding-right: 10px;
            }
        }
        &-box{
            &:not(:first-child){
                margin-top: 10px;
            }
            display: flex;
            width: 100%;
            background: #F0F5FF;
            justify-content: space-between;
            height: 50px;
            align-items: center;
            padding-left: 15px;
            font-weight: 500;
            font-size: 15px;
            & .right{
                width: 50px;
                background: #E7EFFF;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    &__options{
        & .included{
            border: 2px solid #43F4EE;
        }
        & .separate{
            border: 2px solid #F4438A;
            margin-left: 20px;
        }
    }
    &__details{
        &-box{
            margin-top: 40px;
            max-width: 220px;
            & > .title{
                color: #202020;
                font-weight: 600;
                font-size: 16px;
            }
            & .list{
                display: flex;
                flex-direction: column;
                justify-content: center;
                & .title{
                    font-weight: 500;
                    font-size: 15px;
                    padding-left: 10px;
                }
                & li{
                    padding-top: 20px;
                }
            }
        }
    }
    &__images{
        width: 100%;
        & .main{
            img{
                max-width: 100%;
            }
        }
        & .bottom{
            & img{
                margin-top: 30px;
                max-width: 225px;
                object-fit: cover;
            }
        }
    }
}
